<div class="location">

  <div class="row">

    <div class="col-md-3">
      <div class="location-label visible-xs visible-sm">Coordinates</div>
      <%= address.coordinates.join(', ') %>
    </div>

    <div class="col-md-6">
      <div class="location-label visible-xs visible-sm">Address</div>
      <%= address.full_address %>
    </div>

    <div class="col-md-3"></div>

  </div>

</div>
